@page
@model dynamic
@{
    ViewData["Title"] = "Contact Us";
}

<div class="container mt-4">
    <h1>Contact Us</h1>
    <p class="mb-4">If you have questions about the conference, registration, or the program, please reach out using the contact details below.</p>

    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Email</h5>
                    <p class="card-text">contact@conference.com</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Phone Number</h5>
                    <p class="card-text">(+1)XXX-XXX-XXX</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Event Venue</h5>
                    <p class="card-text">My address</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Event Schedule</h5>
                    <p class="card-text">November 20, 2025</p>
                </div>
            </div>
        </div>
    </div>
</div>
