@page
@{
    ViewData["Title"] = "Page Removed";
}
<meta http-equiv="refresh" content="0;url=/" />
<div class="container mt-4">
    <h1>Page Removed</h1>
    <p>This page has been removed. You are being redirected to the home page.</p>
</div>
