@page
@{
    ViewData["Title"] = "Registration Success";
}

<div class="alert alert-success">
    <h4 class="alert-heading">Thank you!</h4>
    <p>Your registration has been received. We'll email you with details.</p>
    <a asp-page="/" class="btn btn-link">Return to home</a>
</div>
